* {
    margin-top: 0;
    /* padding: 0; */
  }
body{
    /* background-image: linear-gradient(to bottom right, #2e5e79, white); */
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    


}
.titleContainter{
    background-image: linear-gradient(to bottom right, #2e5e79, white);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.Image{
    width: 25%;
    float: left;
    padding-top: 1% ;


}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20%;
    

}
.bContainer{
    background-color: white;
    padding-top: 15px;
}


.information {
    width: 50%;
    float: left;

}
.Sidebar{
    width: 20%;
    float: right;
    background-color: #efefef;
    margin-right: 5%;
    border-radius: 25px;
    border: 2px solid efefef;
}


.Title {
    color:#fffef7;
    font-family: "Optima", sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;

}
.pinfo{
    color:#fffef7;
    font-family: "Optima", sans-serif;
    font-weight: bold; 
    text-align: center;
}

.bar{
    background-color:#37393b;
    width: 100%;
    padding-top:5px;
    padding-bottom:0.5px;
    margin-bottom: 0;
}
.nav li{
    display: inline;
    padding-left: 13%;
    padding-right: 13%;
    font-family: "Optima", sans-serif;
    font-size: 1.2em;
    color: white;

    
}
.History{
    color:black;
    font-family: "Optima", sans-serif;
    width: 80%;
    font-size: 1.1em;
    margin-bottom: 10%;
}
.Offer{
    color:black;
    font-family: "Optima", sans-serif;
    width: 30%;
    font-size: 1.1em;
    margin-left: 25%;
    /* float: left; */
}
.highlights li{
    padding-bottom: 5%;
    font-family: "Optima", sans-serif;    
    font-size: 1em;
    color: black;
    /* padding-left: 10%; */
    list-style-type: none;
    
}

.HighTitle {
    font-family: "Optima", sans-serif;    
    font-size: 1.1em;
    color: black;
    padding-left: 10%;
    padding-top: 10px;

}